/* General styles */
.container {
  margin: 5rem auto;
  max-width: 1200px; /* Lebar kontainer default */
}

.movies {
  text-align: center;
}

.movies__title {
  margin-bottom: 1rem;
  font-size: 2.44rem;
  color: #4361ee;
}

.movie__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Small Screen */
@media (max-width: 767px) {
  .movie__container {
    align-items: center;
  }
}

/* Medium Screen */
@media (min-width: 768px) and (max-width: 991px) {
  .container {
    max-width: 90%; /* Lebar kontainer untuk layar menengah */
  }
}

/* Large Screen */
@media (min-width: 992px) {
  .container {
    max-width: 1200px; /* Lebar kontainer untuk layar besar */
  }
}
